@import 'tailwindcss';

@theme {
  --color-background: #020617;
  --color-primary: #10b981;
  --color-warning: #f59e0b;
  --color-data: #38bdf8;

  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-mono: var(--font-mono), monospace;
}

:root {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}
